.main {
    height: 100vh;
}
.sidebar {
    background-color: grey;
    color: white;
}
.sidebar a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px 10px;
}
.sidebar a:hover {
    background-color: blue;
}
.active {
    background-color: blue;
    border-right: solid 5px black;
}
